.form-container{
    transition: all 0.5s ease-in-out; 
    height: 100%;
    width: 400px;
    top: 0px;
    right:0px;
    position:fixed;
    background-color:#252525;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: auto;
    box-shadow: 8px 2px 6px 8px #292929;

    -webkit-animation: slideIn .5s forwards;
    -moz-animation: slideIn .5s forwards;
    animation: slideIn .5s forwards;
    /*
    -webkit-animation: slideOut .5s backwards;
    -moz-animation: slideOut .5s backwards;
    animation: slideOut .5s backwards;*/
}

@keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

@-webkit-keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(310px);
    }
 }

 @-webkit-keyframes slideOut {
    0% {
        transform: translateX(0);
    }
      100% {
        transform: translateX(310px);
    }
}

.form-container-closed{
    transition: all 0.5s ease; 
    display:none;
    /*height: 100%;
    width: 400px;
    top: 0px;
    right:-400px;
    position:fixed;
    background-color:#252525;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: auto;*/
}

.form{
    padding-left:50px;
    padding-top:40px;
}

.close-btn{
    position:absolute;
    padding-left:20px;
    padding-top:20px;
    cursor:pointer;
}

.title{
    margin-left: 15px;
    font-weight:100;
    font-size: 40px;
    color:#B3B3B3;
    -webkit-text-stroke-width: 0px;
    -webkit-font-smoothing: antialiased; 
    /*bigger but thinner text*/
}

.mb-3{
    padding-top:0px;
    position: relative;
}

.mb-3 i{
    top:22px;
    left:265px;
    position:absolute;
    background-color:#454546;
    pointer-events: none; /*makes it do nothing and does not cover other elements*/
}

.mb-3-amount{
    padding-top:0px;
    position: relative;
}

.mb-3-amount i{
    top:22px; /*25*/
    left:252px; /*130/ 252*/
    position:absolute;
    background-color:#454546;
    pointer-events: none; /*makes it do nothing and does not cover other elements*/
}

.mb-3-amount-disabled{
    display:none;
}


.form-control{
    margin-top:20px;
    display: inline-block; /*relative will make txt and input bar side by side*/
    width: 300px;
    height: 32px;
    background-color: #454546;
    cursor: pointer;
    user-select: none;
    border-radius:10px;
    border-style: none;
    color: #B3B3B3;
    padding: 14px;
    color-scheme:dark;
    /*flex-flow: row-reverse;*/
}

.form-large{
    display: flex; /*relative will make txt and input bar side by side*/
    width: 300px;
    height: 160px;
    background-color: #454546;
    cursor: pointer;
    user-select: none;
    border-radius:10px;
    border-style: none;
    color: #B3B3B3;
    padding: 14px;
}

.submit-btn{
    position: flex;
    background-color: #0892E0;
    color:#272727;
    top: 20px;
    width: 300px;
    height: 28px;
    line-height: 16px;
    cursor:pointer;
    text-align: center;
    padding: 6px; /*helps ceter the text*/
    position: absolute; /*moves to the right*/
    transition: all 0.2s ease;
    border:none;
    border-radius:10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
}

.submit-btn:hover {
    background: #1278b3;
  }


.submit-btn:disabled,
.submit-btn[disabled]{
    position: flex;
    background-color: #b3b3b3;
    color:#757575;
    top: 20px;
    width: 300px;
    height: 28px;
    line-height: 16px;
    cursor:default;
    text-align: center;
    padding: 6px;
    position: absolute;
    transition: 0;
    border:none;
    border-radius:10px;
    -webkit-transition-duration: disabled; /* Safari */
    transition-duration: 0;
    overflow: disabled;
}

.submit-btn:disabled:hover {
    background: #b3b3b3;
  }

.submit-btn:after {
    content: "";
    background: #7ab8cb;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  .submit-btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  .submit-btn:disabled:after {
    transition: none;
  }