.table{
    border-collapse: separate;
    border-spacing:0px 10px;
    width: 92%;
}

thead tr{
    background-color: #5B5B5B;
}
tbody tr{
    cursor:pointer;
    /*background: linear-gradient(
        to right,
        #0892E0 0%,
        #0892E0 50%,
        #5B5B5B 50%,
        #5B5B5B 100%
    );*/
}

/* build table style*/
thead tr th:first-child { 
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    padding-left:20px; }
thead tr th:last-child { 
    border-top-right-radius: 10px; 
    border-bottom-right-radius:10px;}

tbody tr:hover {background-color: #4d4d4d;}

/*build responsive visibility*/
.t-title{
    width :50%;
}

.t-visible{
    width: 15%;
}

@media only screen and (max-width: 680px) {
    .t-visible {
        display: none;
    }
}