.table{
    border-collapse: separate;
    border-spacing:0px 10px;
    width: 92%;
}

.table tr{
    background:#5B5B5B;
}

tr td:first-child { 
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;}
tr td:last-child { 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;}

thead tr th:first-child { 
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px; }
thead tr th:last-child { 
    border-top-right-radius: 10px; 
    border-bottom-right-radius:10px;}

.add-btn{
    background-color: #323232;
    border:#5B5B5B dashed 2px;
    width: 92%;
    cursor:pointer;
    height: 6rem;
    border-radius:10px;
    margin-bottom: 40px;
    padding-top: 1rem;
    padding-left: 40%;
}

.add-btn:hover{
    border:#5B5B5B dashed 3px;
}